.rss-form {
    padding-top: 50px;
}
.head {
    color: white;
    top: 50px;
    margin-bottom: 0 !important ;
    font-size: 4rem;
}
.text-muted {
    color: #6c757d !important
}
.container-first {
    background: black !important
}

.text-white {
    color: white;
}

.text-center {
    text-align: center !important;
    margin: 15px 0px;
}

.border-top {
    border-top: 1px solid #dee2e6 !important;
    margin: 0;
    padding: 0;
}
.col-md-10 {
    flex: 0 0 auto;
    width: 83.33333%;
}

.is-hidden {
    display: none;
}

.success-url {
    color: greenyellow;
}

.error-url {
    color: red;
}
.col-md-8 {
    flex: 0 0 auto;
    width: 66.66667%;
}
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
}
.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}